* {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}
.jumbotron {
    background: #F8F8F8;
}
#schedule td, #schedule th {
    width: 12em;
    padding-left: 0.5em;
}
table {
    /*table-layout: fixed;*/
}
#exam_table {
    margin-top: 1em;
}
.pointer {
    cursor: pointer;
}
#input_empty_modal p {
    font-size: 1.2em;
}