* {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}
.jumbotron {
    background: #F8F8F8;
    margin-bottom: 1em;
}
#schedule th {
    width: 12em;
    padding-left: 0.5em;
}
#schedule th:nth-child(-n+1) {
    width: 8em;
    padding-left: 0.5em;
}
#schedule {
    font-size: .8em;
}
#schedule td {
    padding: 0.1em .5em;
}
#pager_nav {
    text-align: center;
}
table {
    /*table-layout: fixed;*/
}
#exam_table {
    margin-top: 1em;
}
.pointer {
    cursor: pointer;
}
.pager {
    margin-bottom: 10px;
}
#input_empty_modal p {
    font-size: 1.1em;
}
#overlay {
    display: block;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    position: fixed;
    z-index: 2048;
    top: 0;
    left: 0;
}
#overlay > #loading {
    border-radius: 5px;
    width: 75px;
    height: 75px;
    background-color: #fff;
    padding: 10px;
    margin: 15em auto;
    text-align: center;
    background-color: #fff;
    background-image: url("images/loading.gif");
    background-position: center center;
    background-repeat: no-repeat;
}
#adv_search {
    cursor: pointer;
}
#advanced_search_modal label {
    font-weight: normal;
}
#advanced_search_modal .item {
    flex: 0 1 10em;
    vertical-align: middle;
}
#free_time_container {
    display: flex;
    flex-wrap: wrap;
    margin-top: 1em;
}
#free_time_select_all_button {
    margin-right: 0.5em;
}
#free_time_selection_text {
    padding-left: 21px;
    padding-right: 21px;
    text-align: center;
}
footer {
    margin-bottom: 0.7em;
}
